.app__header {
  background-color: var(--color-black);
}

.app_header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}

.app__header-img {
  width: 80%;
}

.app__wrapper_img img {
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px rgb(72, 72, 72);
  box-shadow: 5px 0 5px rgba(49, 49, 49, 0.42);
  -moz-border-radius: 25px;
  -webkit-border-radius: 15px;
}
